// サイズの関数

$baseFontSize: 16;

@function rem($pixels) {
    @return $pixels / $baseFontSize * 1rem;
}

// 配色の関数
$colors: (
    white: #fff,
    siteBlue: #1B224C,
    siteOrange: #F5A623,
    navBgColor: rgba(#1B224C,0.5),
    shadowColor: rgba(0, 0, 0, 0.16),
    explainLineGray:#C3C3C3,
);

@function colors($key) {
    @return map-get($colors, $key);
}

// $global: #978F10;
// $white: #fff;
// $gray: #707070;
// $lightGray: #E7E7E7;