@use '../setting' as *;
$initType: 'normal';

@mixin button($type: $initType) {
    //共通スタイル
        box-sizing: border-box;
        display: inline-block;
        color: colors(white);
        font-size: rem(14);
        font-weight: bold;
        border-radius: rem(5);
        text-align: center;
        text-decoration: none;
        transition: .5s;
        letter-spacing: rem(1);
        height: rem(50);
        line-height: 3;

    //サイト共通ボタンのスタイル1
    @if($type =='globalBlue') {
        //スタイル
        border: rem(3) solid colors(siteBlue);
        background-color: colors(siteBlue);
        width: rem(137);
    }

    //サイト共通ボタンのスタイル2
    @else if($type =='globalOrange') {
        border: rem(3) solid colors(siteOrange);
        background-color: colors(siteOrange);
        width: rem(142);
    }
}