@use '../setting' as *;
@use '../mixin' as *;

.appeal-media {
    display: flex;
    justify-content: space-between;

    @include mq(max-md) {
        display: block;
        text-align: center;
    }
}

.appeal-media__text-area {
    max-width: rem(500);

    @include mq(max-md) {
        display: inline-block;
    }
}

.appeal-media__label {
    @include label(siteOrange);
}

.appeal-media__title {
    color: colors(siteBlue);
    font-size: rem(26);
    font-weight: bold;
    line-height: 1.5;
    margin-top: rem(35);
}

.appeal-media__detail {
    color: colors(siteBlue);
    line-height: 1.5;
    margin-top: rem(39);

    @include mq(max-md) {
        margin-bottom: rem(20);
    }
}

.appeal-media__img-area {
    width: rem(350);
    height: rem(240);

    @include mq(max-md) {
        display: inline-block;
    }
}

.appeal-media__img {
    width: 100%;
    height: 100%;
}

.appeal-media--reverse {
    flex-direction: row-reverse;
}

.appeal-media__text-area--reverse {
    @include mq(max-md) {
        display: inline-block;
    }
}

.appeal-media__img-area--reverse {
    display: inline-block;
}