@use '../setting' as *;
@use '../mixin' as *;

.appeal-cta-area {
    text-align: center;
    max-width: rem(906);
    height: rem(217);
    background: no-repeat url(../img/cta/price.jpg) border-box 0 0/ contain;

    @include mq(max-md) {
        background-size: cover;
    }
}

.appeal-cta-area__title {
    color: colors(white);
    font-size: rem(26);
    font-weight: bold;
    text-align: center;
    padding: rem(61) 0 rem(25) 0;
}

.appeal-cta-area__button {
    @include button (none,200, 50);
    border: 1px solid colors(white);
    border-radius: rem(30);
}