@use '../setting' as *;
@use '../mixin' as *;

.contact-info {
    color: colors(siteBlue);
}
.contact-info__time {
    text-align: right;
    font-size: rem(12);
    margin-top: rem(10);
}

.contact-info__tel {
    font-weight: bold;
    display: table;
}

.contact-info__tel-link {
    display: table-cell;
    vertical-align: bottom;
    line-height: 1.8;
}

.contact-info__tel::before {
    content: url(../img/tel-icon.png);
    display: inline-block;
    transform: scale(0.5);
    position: relative;
    top: rem(3);
}