@use '../setting' as *;
@use '../mixin' as *;

.global-button {
    @include button($color:colors(siteOrange),$width:rem(142));
}

.global-button--block {

    @include mq(max-md) {
        display: block;
        margin-bottom: rem(10);
    }
}

.global-button:hover {
    background-color: colors(white);
    color: colors(siteOrange);
}

.global-button--contact {
    margin-left: rem(10);
        @include mq(max-md) {
                border-color:colors(white);
                margin-left: 0;
            }

    @include button($color:colors(siteBlue), $width:rem(137))

}

.global-button--contact:hover {
    color: colors(siteBlue);
}