@use '../setting' as *;
@use '../mixin' as *;

.global-button {
    @include button(globalOrange);
}

.global-button--block {

    @include mq(max-md) {
        display: block;
        margin-bottom: rem(10);
    }
}

.global-button:hover {
    background-color: colors(white);
    color: colors(siteOrange);
}

.global-button--contact {
        @include mq(max-md) {
                border-color:colors(white);
            }

    @include button(globalBlue)

}

.global-button--contact:hover {
    color: colors(siteBlue);
}